<%- include('../partials/header') %>

    <h1><%= skills.name %></h1>
    <h4>Level: <%= skills.level %></h4>

    <!-- <form action="/skills/<%= s.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">DELETE</button>
    </form> -->

<%- include('../partials/footer') %>
